.menu-top {
  display: flex;
  margin-right: 55px;
  h4 {
    margin: 24px 0 0 0;
    color: #409eff;
  }
}
.img {
  width: 40px;
  margin-left: 10px;
  margin-top: 10px;
}

svg {
  width: 1em;
  height: 1em;
}
