.container {
  padding: 6px;
}

.city,
.province {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
  &-item {
    padding: 4px;
    margin-right: 8px;
    margin-bottom: 6px;
    border: 1px solid #eee;
    cursor: pointer;
    &-name {
      display: inline-block;
      margin-right: 22px;
      margin-bottom: 6px;
      cursor: pointer;
    }
  }
  .item-name-curr,
  &-item:hover,
  &-item-name:hover {
    opacity: 0.6;
    transition: all 0.5s;
    transform: scale(1.3);
    color: #409eff;
    font-weight: bold;
  }
}
