// sidebar
$menuText: #bfcbd9;
$menuActiveText: #ffffff;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 210px;
$hideSideBarWidth: 54px;
$sideBarDuration: 0.28s;

// FIXME: 这种写法vite2不识别只能在webpack中使用
// :export {
//   menuText: $menuText;
//   menuActiveText: $menuActiveText;
//   subMenuActiveText: $subMenuActiveText;
//   menuBg: $menuBg;
//   menuHover: $menuHover;
//   subMenuBg: $subMenuBg;
//   subMenuHover: $subMenuHover;
//   sideBarWidth: $sideBarWidth;
// }

// 需要用这种css module的方法
.menuText {
  color: $menuText;
}
.menuActiveText {
  color: $menuActiveText;
}

.submenuactivetext {
  color: $subMenuActiveText;
}
.menubg {
  background-color: $menuBg;
}

.menuhover {
  background-color: $menuHover;
}

.submenubg {
  background-color: $subMenuBg;
}

.submenuhover {
  background-color: $subMenuHover;
}

.sidebarwidth {
  width: $sideBarWidth;
}
