.header-right {
  display: flex;
  justify-content: right;
  .username {
    padding-top: 16px;
    margin-right: 14px;
  }
  svg {
    margin-top: 1em;
    margin-right: 12px;
    width: 1em;
    height: 1em;
  }

  &-tools {
    margin-left: 12px;
  }
}
