.header-left-right {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  .notice {
    margin: 16px 32px 0;
  }
  &-compoent {
    display: flex;
    justify-content: right;
    .username {
      padding-top: 16px;
      margin-right: 14px;
    }
    svg {
      margin-top: 1em;
      margin-right: 12px;
      width: 1em;
      height: 1em;
    }
    &-tools {
      margin-left: 12px;
    }
  }
}
