.zip-container {
  .info {
    .title {
      font-size: 14px;
    }
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .el-row {
    margin-bottom: 20px;
  }
}
