// table 头部操作按钮样式

.table-header {
  .header-button-lf {
    float: left;
  }
  .header-button-ri {
    float: right;
  }
  .el-button {
    margin-bottom: 15px;
  }
}

// 自带操作区样式

.action {
  display: flex;
  justify-content: center;

  &-group-btns {
    margin-right: 10px;
  }
}

// 将展开行的元素置左恢复默认，避免.action处理右侧操作区域导致的副作用
.el-table__expanded-cell .action {
  justify-content: flex-start;
}

// 分页器样式

.pagination {
  display: flex;
  margin-top: 16px;
}

// 行内编辑图标大小
.html-line-edit {
  svg {
    position: relative;
    top: 2px;
    left: 2px;
  }
}

// 控制搜索区域隐藏显示

.showSearch {
  display: block;
}
.none-search {
  display: none;
}

// 控制展开行序号标识
.expand .cell div::before {
  content: '0';
}

.expand-select-data {
  margin-top: 20px;
  .el-button {
    margin-top: 10px;
  }
}

// 处理列表复选框偏移的问题
tbody .el-table-column--selection .cell .el-checkbox {
  margin-left: 4px;
}

.header-button-cen {
  margin-left: 83.6%;
  display: inline-block;
  .el-switch {
    margin-right: 10px;
  }
}
