.table-header {
  .header-button-lf {
    float: left;
  }
  .header-button-ri {
    float: right;
  }
  .el-button {
    margin-bottom: 15px;
  }
}

.action {
  display: flex;
  justify-content: center;
  &-group-btns {
    margin-right: 10px;
  }
}

.pagination {
  display: flex;
  margin-top: 16px;
}
